
.icon-doc:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
