{% extends 'base5.html' %}
{% block css %}

<script src="js/script.js"></script>
{% endblock css %}
{% block contenedor %}
      <!-- registro -->
      <section class="vh-100" style="background-color: #ffffff">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                        Agregar Noticias
                      </p>
                      <form
                        action="{%url 'AGRNON' %}"
                        method="post"
                        enctype="multipart/form-data"
                      >
                      {% csrf_token %}



                      <form class="mx-1 mx-md-4">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          
                          <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example1c"
                              >ID NOTICIA</label>

                              <input
                              required
                              type="number"
                              id="txtid" 
                              name="txtid"
                              onblur="verificar_id_noticia()"
                              class="form-control"
                            />
                            
                          </div>
                        </div>

                        <form class="mx-1 mx-md-4">
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example1c"
                                >Titulo de la noticia</label>

                                <input
                                required
                                type="text"
                                id="txtnombre"
                                name= "txtnombre"
                                class="form-control"
                              />
                              
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example1c"
                                >Categoria</label>
                                <select class="form-control" id="cbocategoria" name="cbocategoria">
                                  {% for item in categorias %}
                                  <option>{{item.nombre}}</option>
                                  {% endfor %}  
                                  
                                </select>
                              <!-- <input required type="text" id="apellido" class="form-control"/> -->

                            </div>
                          </div>

                          <!-- TEXT AREA -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example3c"
                                >Descripcion de la noticia</label>

                                <textarea class="textAreaBox" style="height: 200px; width: 100%;"  name="txtdesc" id="txtdesc" cols="35" rows="6"></textarea>
                                
                            </div>
                          </div>
                          <form class="mx-1 mx-md-4">
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              
                              <div class="form-outline flex-fill mb-0">

                                <label class="form-label" for="form3Example3c"
                                >Ubicacion (Ejemplo:  Santiago, Chile) </label>
                                  <input
                                  required
                                  type="text"
                                  id="txtubicacion"
                                  name= "txtubicacion"
                                  class="form-control"
                                />
                                
                              </div>
                            </div>
                            <!-- AGREGAR ARCHIVOS -->
                            <label class="form-label" >Elije que subir (Foto O Video)</label>
                            <br>
                            <section id="multi-selector-uniq" class="mb-3">
                              <div class="form-group">
                                <label class="form-label" for="txtfotos">Fotos</label>
                                <div class="col">
                                  <input type="file" class="form-control" id="txtfotos" name="txtfotos" accept="image/*" multiple>
                                </div>
                                <br>
                              </div>
                              <div class="form-group">
                                <label class="form-label" for="txtvideos">Videos (Se recomienda MP4)</label>
                                <div class="col">
                                  <input type="file" class="form-control" id="txtvideos" name="txtvideos" accept="video/*" >
                                </div>
                              </div>
                              <ul id="preview"></ul>
                            </section>                            
                            <br>  
                            <section id="multi-selector-uniq">
                              <div class="mb-">
                                <label class="form-label" for="miniatura">Miniatura de la Noticia (Solo Imagenes) </label>
                                <input required class="form-control" name="txtminiatura" id="txtminiatura" type="file" accept="image/*">
                              </div>
                              <ul id="preview"></ul>
                            </section>                            
                          <br>                          
                          <!-- BOTONES -->
                          <div>
                            <button
                              type="submit"
                              class="btn btn-primary btn-block mb-4"
                            >
                              Enviar solicitud de noticia
                            </button>
                            <button
                              type="reset"
                              class="btn btn-danger btn-block mb-4"
                            >
                              Limpiar todo
                            </button>
                          </div>
                          
                        </form>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock contenedor %}

    {% block js %}
  <script>
    function verificar_id_noticia() {
      // Obtener el valor del campo de entrada de ID de noticia
      var idNoticia = $('#txtid').val();
  
      // Realizar la solicitud AJAX
      $.ajax({
          url: '/ingresarnoticia/',
          data: {
              'idNoticia': idNoticia
          },
          dataType: 'json',
          success: function (data) {
              // La ID de la noticia está disponible
              if (data.disponible) {
                  // Agregar tu código aquí para manejar la ID de la noticia disponible
              } else {
                  // La ID de la noticia no está disponible
                  // Agregar tu código aquí para manejar la ID de la noticia no disponible
                  // Por ejemplo, mostrar un mensaje de error utilizando SweetAlert
                  Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: 'La ID De la Noticia ya esta siendo Usada'
                  }).then(function () {
                      // En caso de que el usuario haga clic en el botón de "Aceptar" del mensaje de error
                      // aquí podrías agregar el código para redirigir al usuario a otra página, o hacer cualquier otra cosa
                  });
              }
          }
      });
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <script src="js/script-archivos.js"></script>
    <script src="js/tinymce/tinymce.min.js" referrerpolicy="origin"></script> 
    <script>tinymce.init({selector:'textarea'});</script>
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock js %}

    

