<!---BASE REGISTRO-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Caos News</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/LogoCaosNews.png' %}"/>
    <!-- LINK BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}" />
    <link rel="stylesheet" href="{% static 'css/btnIngresar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  {% block css %}
  
  {% endblock css %}
</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'IND' %}">
            <img src="{% static 'img/LogoCaosNews.png' %}"  width="64" height="64" class="d-inline-block align-left" alt="">
            Caos News
          </a>
          <button
            class="navbar-toggler active"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon active"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'IND' %}">Principal</a>
              </li>
              <li ¿class="nav-item">
                <a class="nav-link" href="{%url 'INT' %}">Internacional</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'ECO' %}">Economia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'SAL' %}">Salud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'DEP' %}">Deporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'POL' %}">Politica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'REP' %}">Reportajes</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="..."
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Contacto
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item icon-facebook-squared"
                      href="https://www.facebook.com/"
                      target="_blank"
                      >Facebook</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-instagram"
                      href="https://www.instagram.com/"
                      target="_blank"
                      >Instagram</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-twitter"
                      href="https://twitter.com/?lang=es"
                      target="_blank"
                      >Twitter</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-whatsapp"
                      href="https://web.whatsapp.com/"
                      target="_blank"
                      >Whatsapp</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item icon-comment" href="{%url 'CON' %}"
                      >Mensaje</a
                    >
                  </li>
                </ul>
              </li>
            </ul>

            <form action="{% url 'BUSCAR' %}" class="d-flex" role="search" method="post">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="query">
              <button class="btn btn-outline-success icon-scearch btn-margen-derecha" type="submit">Buscar</button>
            </form>

            </form>
          </div>
        </div>
      </nav>
  </header>
  <main>
  {% block contenedor %}
  

  
  {% endblock contenedor %}
    </main> 
 

    {% block js %}
    
    {% endblock js %}
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>