<!---BASE NOTICIAS-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Caos News</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/LogoCaosNews.png' %}"/>
    <!-- LINK BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}" />
    <link rel="stylesheet" href="{% static 'css/btnIngresar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  {% block css %}
  
  {% endblock css %}
</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'IND' %}">
            <img src="{% static 'img/LogoCaosNews.png' %}"  width="64" height="64" class="d-inline-block align-left" alt="">
            Caos News
          </a>
          <button
            class="navbar-toggler active"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon active"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'IND' %}">Principal</a>
              </li>
              <li ¿class="nav-item">
                <a class="nav-link" href="{%url 'INT' %}">Internacional</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'ECO' %}">Economia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'SAL' %}">Salud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'DEP' %}">Deporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'POL' %}">Politica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'REP' %}">Reportajes</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="..."
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Contacto
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item icon-facebook-squared"
                      href="https://www.facebook.com/"
                      target="_blank"
                      >Facebook</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-instagram"
                      href="https://www.instagram.com/"
                      target="_blank"
                      >Instagram</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-twitter"
                      href="https://twitter.com/?lang=es"
                      target="_blank"
                      >Twitter</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-whatsapp"
                      href="https://web.whatsapp.com/"
                      target="_blank"
                      >Whatsapp</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item icon-comment" href="{%url 'CON' %}"
                      >Mensaje</a
                    >
                  </li>
                </ul>
              </li>
            </ul>

            <form class="d-flex" role="search">
              <form action="{% url 'BUSCAR' %}" class="d-flex" role="search" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="query">
                <button class="btn btn-outline-success icon-scearch btn-margen-derecha" type="submit">Buscar</button>
              </form>
                               
              <form class="d-flex" role="search">
            {% if user.is_authenticated %}
                          <!---USUARIO-->
                          <div class="dropdown dropdown-edit">
                            <span class="visually-hidden">Perfil</span>
                            <a
                              class="btn btn-outline-success"
                              href="..."
                              role="button"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="30"
                                fill="currentColor"
                                class="bi bi-person-circle"
                                viewBox="0 0 16 16"
                              >
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path
                                  fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                ></path>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item">{{ user.first_name }} {{ user.last_name }} </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'ADMNON' %}" target="_blank">Administrador</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'AGRNON' %}" target="_blank">Agregar Noticia</a>
                              <a class="dropdown-item" href="{% url 'EST' %}" target="_blank">Estado</a>
                              <div class="dropdown-divider"></div>
                              <a class="btn btn-rojo-edit" href="{% url 'LOGOUT' %}" >Abandonar</a>
                            </div>
                          </div>
            {% else %}
            <a href="{%url 'LOG' %}" class="btn btn-outline-info" role="button"
            >Ingresar
          </a>
          <a href="{%url 'REG' %}" class="btn btn-outline-dark" role="button"
          >Registrarse
        </a>
            {% endif %}
          </form>
            </div>
          </div>
        </nav>
      </header>
      <main>
     {% block contenedor %}
  

  
  {% endblock contenedor %}
    </main> 
        <!---FOOOTER-->
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase"></h5>
                  <a href="{%url 'IND' %}" target="_blank"> 
                  <img src="{% static 'img/LogoCaosNews.png' %}"  width="90" height="90" class="d-inline-block align-left" alt="">
                  <ul class="list-unstyled mb-0">
                  </a>
                    
                  </ul>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0"></h5>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="{%url 'INT' %}"class="text-dark">Internacional</a>
                    </li>
                    <li>
                      <a href="{%url 'ECO' %}" class="text-dark">Economia</a>
                    </li>
                    <li>
                      <a href="{%url 'SAL' %}" class="text-dark">Salud</a>
                    </li>
                    <li>
                      <a href="{%url 'REP' %}" class="text-dark">Reportaje</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="{%url 'POL' %}" class="text-dark">Politica</a>
                    </li>
                    <li>
                      <a href="{%url 'DEP' %}" class="text-dark">Deportes</a>
                    </li>
                    <li>
                      <a href="{%url 'CON' %}" class="text-dark">Contacto</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0"></h5>
          
                  <ul class="list-unstyled">
      
                  </ul>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-dark" href="{%url 'IND' %}">Caos News</a>
            </div>
            <!-- Copyright -->
          </footer>

    {% block js %}
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
    
    {% endblock js %}
    
</body>
</html>