{% extends 'base1.html' %}
{%load static%}
{% block contenedor %}
      <!--Titulo-->
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CN Economia</p>
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for noticia in noticias_economia %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <div class="row">
              <div class="col-lg-4">
                <!-- IMAGENES 1 -->
                <div class="card" style="width: 100%; height: 600px;">
                  <img src="{{ noticia.miniatura.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ noticia.Titulo }}</h5>
                    <p class="card-text">            {% if noticia.Descripcion|length > 140 %}
                      {{ noticia.Descripcion|slice:":140" }}...
                    {% else %}
                      {{ noticia.Descripcion }}
                    {% endif %}</p>
                    <a href="{% url 'NON' noticia.idNoticia %}" class="btn btn-primary">Leer Mas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      
      <br>        
      <!--Marcador economico-->
      <style>
        .carousel-content {
          background-color: #f8f9fa;
          padding: 22px;
          text-align: center;
        }
      </style>
      
      <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="UF" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="DolarO" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="Euro" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="IPC" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="UTM" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="IVP" class="carousel-content"></div>
          </div>
          <div class="carousel-item">
            <div id="Imacec" class="carousel-content"></div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      
      <script>
        fetch('https://mindicador.cl/api').then(function(response) {
          return response.json();
      }).then(function(dailyIndicators) {
          document.getElementById("UF").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
            <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
            </svg>
            <h2>Valor actual de la UF</h2>
            <h3>$${dailyIndicators.uf.valor}</h3>
          `;
          document.getElementById("DolarO").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
            </svg>
            <h2>Valor actual del Dólar</h2>
            <h3>$${dailyIndicators.dolar.valor}</h3>
          `;
          document.getElementById("Euro").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
            <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
            </svg>
            <h2>Valor actual del Euro</h2>
            <h3>$${dailyIndicators.euro.valor}</h3>
          `;
          document.getElementById("IPC").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
            <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
            </svg>
            <h2>IPC</h2>
            <h3>${dailyIndicators.ipc.valor}</h3>
          `;
          document.getElementById("UTM").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
            </svg>
            <h2> Valor del UTM</h2>
            <h3>$${dailyIndicators.utm.valor}</h3>
          `;
          document.getElementById("IVP").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
            </svg>
            <h2>Valor del IVP</h2>
            <h3>$${dailyIndicators.ivp.valor}</h3>
          `;
          document.getElementById("Imacec").innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
            <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
            </svg>
            <h2>Imacec</h2>
            <h3>${dailyIndicators.imacec.valor}</h3>
          `;
      }).catch(function(error) {
          console.log('Request failed', error);
      });
      </script>
<!-- Fin Marcador economico -->
      <br>
       <!--Insertar Lo Demas-->
<!--Section: Contenido-->
<section>
  <div class="row gx-lg-5">
    {% for item in noticias %}
    <div class="col col-md-4 mb-4 mb-lg-0">
      <!-- News block -->
      <div>
        <!-- Featured image -->
        <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
          <img src="{{ item.miniatura.url }}" class="img-fluid" />
          <a href="{%url 'NON' item.idNoticia %}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <!-- Article data -->
        <div class="row mb-3">
          <div class="col-6">
            <a href="economia.html" class="text-primary">
              <i class="fas fa-money"></i>
              {{ item.Categorias.nombre }}
            </a>
          </div>

          <div class="col-6 text-end">
            <u>{{ item.fecha_publicacion|date:""}}</u>
          </div>
        </div>

        <!-- Article title and description -->
        <a href="{%url 'NON' item.idNoticia %}" class="text-dark">
          <h5>{{ item.Titulo }}</h5>

          <p class="text-muted">
            {% if item.Descripcion|length > 140 %}
              {{ item.Descripcion|slice:":140" }}...
            {% else %}
              {{ item.Descripcion }}
            {% endif %}
          </p>
        </a>

        <hr />
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!--Section: Content-->
  
  {% endblock contenedor %}
{% block js %}



{% endblock js %}

  {% block pagination %}
    {{ block.super }}
{% endblock %}