<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Caos News</title>
    <!-- LINK BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/btnIngresar.css">

</head>
<body>
    <!-- BARRA DE NAVEGACION -->
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="img/LogoCaosNews.png"  width="64" height="64" class="d-inline-block align-left" alt="">
            Caos News
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html"
                  >Principal</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="internacional.html">Internacional</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="Economia.html">Economia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Salud.html">Salud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Deportes.html">Deporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Politica.html">Politica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Reportaje.html">Reportajes</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="..."
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Contacto</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item icon-facebook-squared"
                      href="https://www.facebook.com/"
                      target="_blank"
                      >Facebook</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-instagram"
                      href="https://www.instagram.com/"
                      target="_blank"
                      >Instagram</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-twitter"
                      href="https://twitter.com/?lang=es"
                      target="_blank"
                      >Twitter</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item icon-whatsapp"
                      href="https://web.whatsapp.com/"
                      target="_blank"
                      >Whatsapp</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item icon-comment" href="contacto.html"
                      >Mensaje</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success icon-scearch btn-margen-derecha"
                type="submit"
              >
                Buscar
              </button>
              <a href="ingreso.html" class="btn btn-outline-info" role="button"
                >Ingresar</a
              >
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!--Titulo-->
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CN Economia</p>
      <!-- CARRUSEL DE NOTICIAS -->
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-4">
                
                <!-- IMAGENES 1 -->
                <div class="card" style="width: 100%;height: 600px;">
                  <img src="img/ejemplo/transbank.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                    <a href="plantilla_noticias_fotos.html" class="btn btn-primary">Leer Mas</a>
                  </div>
                </div>

              </div>
              <!-- IMAGENES 2 -->
              <div class="col-lg-4">
                <div class="card" style="width: 100%;height: 600px;">
                  <img src="img/ejemplo/Dolares.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                    <a href="plantilla_noticias_fotos_carrusel.html" class="btn btn-primary">Leer Mas</a>
                  </div>
                </div>
              </div>
              <!-- IMAGENES 3 -->
              <div class="col-lg-4">
                <div class="card" style="width: 100%;height: 600px;">
                  <img src="img/ejemplo/Junta-BCI-_JC.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                    <a href="#" class="btn btn-primary">Leer Mas</a>
                  </div>
                </div>
              </div>
                    
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-4">
                <div class="card" style="width: 100%;height: 600px;">
                   <img src="img/ejemplo/grafico chile.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                    <a href="#" class="btn btn-primary">Leer Mas</a>
                   </div>
                </div>
              </div>
                <div class="col-lg-4">
                  <div class="card" style="width: 100%;height: 600px;">
                    <img src="img/ejemplo/billetes.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                      <a href="#" class="btn btn-primary">Leer Mas</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card" style="width: 100%;height: 600px;">
                    <img src="img/ejemplo/moneda.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae saepe dignissimos.</p>
                      <a href="#" class="btn btn-primary">Leer Mas</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>        
      <!--Marcador economico-->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Mercados hoy</span></a> por TradingView</div>
              <script type="text/javascript" 
              src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" 
              async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR/USD"
                },
                {
                  "description": "",
                  "proName": "ECONOMICS:CLCF"
                },
                {
                  "description": "",
                  "proName": "ECONOMICS:CLEP"
                },
                {
                  "description": "",
                  "proName": "NASDAQ:TSLA"
                }
              ],
              "showSymbolLogo": true,
              "colorTheme": "light",
              "isTransparent": false,
              "displayMode": "adaptive",
              "locale": "es"
              }
              </script>
            </div>
<!-- Fin Marcador economico -->
      <br>
       <!--Insertar Lo Demas-->
            <!--Section: Contenido-->
  <section>
    <div class="row gx-lg-5">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
            data-mdb-ripple-color="light">
            <img src="img/ejemplo/Morro-de-Arica (1).jpg" class="img-fluid" />
            <a href="plantilla_noticias_video.html">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-plane"></i>
                Economia
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30 de marzo del 2023 </u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="plantilla_noticias_video.html" class="text-dark">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

          <!-- Noticia Politica y Chismes -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/gabriel-boric-2-925x470.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/Parlamentarios-1.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/carabinero-1280x720.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/cortesuprema.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Imagen Destacada -->
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="img/ejemplo/LasCondes.png" class="img-fluid"
              alt="Brooklyn Bridge" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Articulo Data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-chart-pie"></i>
                Economia
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30.03.2023</u>
            </div>
          </div>

          <!-- Titulo del articulo y descripcion -->
          <a href="" class="text-dark">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

          <hr />

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/Plaza_de_Armas.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- Noticias De Contigencia -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/descargar.png"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/033.webp"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/034.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Times Square" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="img/ejemplo/situacion-en-chile_2020.09.22.png" class="img-fluid"
              alt="Golden Gate National Recreation Area" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-code"></i>
                Economia
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30.03.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
              id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
              adipisci iusto nam temporibus modi animi laboriosam?
            </p>
          </a>

        

          <!-- Noticias Deporte -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/fc681e17ec57ba5c6c51138105f445070a464dc6.png"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/plantel_colocolo-gas00266_crop1680022349279.jpg_242310155.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/chile.jpg_1624932088.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="img/ejemplo/r1149209_1296x518_5-2.jpg"
                  class="img-fluid shadow-1-strong rounded" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 30.03.2023</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>
    </div>
  </section>
  <!--Section: Content-->

  <!-- Numeros -->
  <nav class="my-4" aria-label="...">
    <ul class="pagination pagination-circle justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atras</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="#">2 <span class="sr-only"></span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

         

  </main>
    <!---FOOOTER-->
    <footer class="bg-light text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"></h5>
            <img src="img/LogoCaosNews.png"  width="90" height="90" class="d-inline-block align-left" alt="">
            <ul class="list-unstyled mb-0">
              
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0"></h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="internacional.html" class="text-dark">Internacional</a>
              </li>
              <li>
                <a href="Economia.html" class="text-dark">Economia</a>
              </li>
              <li>
                <a href="Salud.html" class="text-dark">Salud</a>
              </li>
              <li>
                <a href="Reportaje.html" class="text-dark">Reportaje</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="Politica.html" class="text-dark">Politica</a>
              </li>
              <li>
                <a href="Deportes.html" class="text-dark">Deportes</a>
              </li>
              <li>
                <a href="contacto.html" class="text-dark">Contacto</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0"></h5>
    
            <ul class="list-unstyled">

            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="index.html">Caos News</a>
      </div>
      <!-- Copyright -->
    </footer>

  <!-- SCRIPT BOOTSTRAP -->
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>