{% extends 'base1.html' %}
{%load static%}
{% block contenedor %}
      <!--Titulo-->
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CN Economia</p>
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for noticia in noticias_economia %}
          <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <div class="row">
              <div class="col-lg-4">
                <!-- IMAGENES 1 -->
                <div class="card" style="width: 100%; height: 600px;">
                  <img src="{{ noticia.miniatura.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ noticia.Titulo }}</h5>
                    <p class="card-text">            {% if noticia.Descripcion|length > 140 %}
                      {{ noticia.Descripcion|slice:":140" }}...
                    {% else %}
                      {{ noticia.Descripcion }}
                    {% endif %}</p>
                    <a href="{% url 'NON' noticia.idNoticia %}" class="btn btn-primary">Leer Mas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>      
      <br>        
      <!--Marcador economico-->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Mercados hoy</span></a> por TradingView</div>
              <script type="text/javascript" 
              src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" 
              async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR/USD"
                },
                {
                  "description": "",
                  "proName": "ECONOMICS:CLCF"
                },
                {
                  "description": "",
                  "proName": "ECONOMICS:CLEP"
                },
                {
                  "description": "",
                  "proName": "NASDAQ:TSLA"
                }
              ],
              "showSymbolLogo": true,
              "colorTheme": "light",
              "isTransparent": false,
              "displayMode": "adaptive",
              "locale": "es"
              }
              </script>
            </div>
<!-- Fin Marcador economico -->
      <br>
       <!--Insertar Lo Demas-->
<!--Section: Contenido-->
<section>
  <div class="row gx-lg-5">
    {% for item in noticias %}
    <div class="col col-md-4 mb-4 mb-lg-0">
      <!-- News block -->
      <div>
        <!-- Featured image -->
        <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
          <img src="{{ item.miniatura.url }}" class="img-fluid" />
          <a href="{%url 'NON' item.idNoticia %}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <!-- Article data -->
        <div class="row mb-3">
          <div class="col-6">
            <a href="economia.html" class="text-primary">
              <i class="fas fa-money"></i>
              {{ item.Categorias.nombre }}
            </a>
          </div>

          <div class="col-6 text-end">
            <u>{{ item.fecha_publicacion|date:""}}</u>
          </div>
        </div>

        <!-- Article title and description -->
        <a href="{%url 'NON' item.idNoticia %}" class="text-dark">
          <h5>{{ item.Titulo }}</h5>

          <p class="text-muted">
            {% if item.Descripcion|length > 140 %}
              {{ item.Descripcion|slice:":140" }}...
            {% else %}
              {{ item.Descripcion }}
            {% endif %}
          </p>
        </a>

        <hr />
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!--Section: Content-->
  
  {% endblock contenedor %}

  {% block pagination %}
    {{ block.super }}
{% endblock %}