{% extends 'base3.html' %}
{%load static%}

{% block contenedor %}
      <!--Titulo-->
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CaosNews Al Dia</p>
      <!-- CARRUSEL DE NOTICIAS -->
      <div
        id="carouselExampleCaptions"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          {% for item in noticia_destacada %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="">
              <img src="{{ item.miniatura.url }}" class="d-block w-100" alt="{{ item.Titulo }}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ item.Titulo }}</h5>
                <p>{{ item.Descripcion }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
       
      </div>
      <br />

<!-- Noticias -->
<div class="container">
  <!-- Noticia del día -->
  <section class="border-bottom pb-4 mb-5">
    {% for item in noticia %}
    {% if item.idNoticia == 1 %}
    <div class="row gx-5">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
          data-mdb-ripple-color="light">
          <img src="{{ item.foto.url }}" class="img-fluid" />
          <a href="{%url 'NON3' item.idNoticia %}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">NOTICIA DEL DÍA!</span>
        <h4><strong>{{ item.Titulo }}</strong></h4>
        <p class="text-muted">{{ item.Descripcion }}</p>
        <a href="{%url 'NON3' item.idNoticia %}" type="button" class="btn btn-primary">Leer Más</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </section>
  <!-- Noticia del día -->

        <!--Section: Contenido-->
        <section>
          <div class="row gx-lg-5">
            {% for item in noticia %}
            {% if item.idNoticia != 1 %}
            <div class="col col-md-4 mb-4 mb-lg-0">
              <!-- News block -->
              <div>
                <!-- Featured image -->
                <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                  data-mdb-ripple-color="light">
                  <img src="{{ item.miniatura.url }}" class="img-fluid" />
                  <a href="{%url 'NON3' item.idNoticia %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                  </a>
                </div>
      
                <!-- Article data -->
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="internacional.html" class="text-info">
                      <i class="fas fa-plane"></i>
                      {{ item.Categorias.nombre }}
                    </a>
                  </div>
      
                  <div class="col-6 text-end">
                    <u>{{ item.fecha_publicacion|date:""}}</u>
                  </div>
                </div>
      
                <!-- Article title and description -->
                <a href="{%url 'NON3' item.idNoticia %}" class="text-dark">
                  <h5>{{ item.Titulo }}</h5>
      
                  <p>
                    {{ item.Descripcion }}
                  </p>
                </a>
      
                <hr />
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </section>
        
        <!--Section: Content-->
{% endblock contenedor %}