<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News</title>
        <!-- LINK BOOTSTRAP -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/btnIngresar.css">
        <link rel="stylesheet" href="css/contacto.css">
        <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <!-- BARRA DE NAVEGACION -->
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="img/LogoCaosNews.png"  width="64" height="64" class="d-inline-block align-left" alt="">
          Caos News
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html"
                >Principal</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="internacional.html">Internacional</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Economia.html">Economia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Salud.html">Salud</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Deportes.html">Deporte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Politica.html">Politica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Reportaje.html">Reportaje</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                href="..."
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Contacto</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item icon-facebook-squared"
                    href="https://www.facebook.com/"
                    target="_blank"
                    >Facebook</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item icon-instagram"
                    href="https://www.instagram.com/"
                    target="_blank"
                    >Instagram</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item icon-twitter"
                    href="https://twitter.com/?lang=es"
                    target="_blank"
                    >Twitter</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item icon-whatsapp"
                    href="https://web.whatsapp.com/"
                    target="_blank"
                    >Whatsapp</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item icon-comment active" href="contacto.html"
                    >Mensaje</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success icon-scearch btn-margen-derecha"
              type="submit"
            >
              Buscar
            </button>
            <a href="ingreso.html" class="btn btn-outline-info" role="button"
              >Ingresar</a
            >
          </form>
        </div>
      </div>
    </nav>
  </header>
        <!---noticia-->
        <div class="row">
          <div class="col-8"> 
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lorem ipsum dolor sit amet consectetur.</p>
        <br>
        <div style="text-align:center">
        <iframe width="800" height="530" src="https://www.youtube.com/embed/-_maVtwoN_U" title="Así fue el camino de Finlandia para llegar a pertenecer a la OTAN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowfullscreen></iframe>
        </div>
                 <!--Fecha, Ubicacion y Usuario-->
                 <div>
                  <hr class="hr hr-blurry" />
                  <div class="d-flex flex-row">
                    <div class="p-2"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                    <p class="text-align" > 13-04-2023 </p>
                   </div>
                    <div class="p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                      </svg>
                      <p class="text-align" > Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg>
                      <p class="text-align" >Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                  <hr class="hr hr-blurry" />
                </div>
        <div>
          <p class="text-align">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus enim facilis animi quis? Maiores sequi delectus culpa aut, adipisci deserunt repellendus quae hic voluptas voluptate natus nostrum, cum corporis eos aspernatur eum dignissimos quod provident incidunt veritatis, animi deleniti totam!
          </p>
      </div>
          </div>
          <div class="col-4"> 
            <div class="card px-3 pt-3" style="max-width: 32rem">
              <!-- News block -->
              <h1 class="text-left   h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lo mas Leido</h1>
              <div>
                <!-- Featured image -->
                <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
                  <img src="img/ejemplo/Rusia_Ucrania_01.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
            
                <!-- Article data -->
                <div class="row mb-3">
                  <div class="col-6">
                    <a href="internacional.html" class="text-info">
                      <i class="fas fa-plane"></i>
                      Internacional
                    </a>
                  </div>
            
                  <div class="col-6 text-end">
                    <u> 15.07.2020</u>
                  </div>
                </div>
            
                <!-- Article title and description -->
                <a href="plantilla_noticias_video.html" class="text-dark">
                  <h5>Lorem ipsum dolor sit amet.</h5>
            
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                    id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                    adipisci iusto nam temporibus modi animi laboriosam?
                  </p>
                </a>
            
                <hr />
            
                <!-- News -->
                <a href="plantilla_noticias_fotos_carrusel.html" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                        class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill" />
                    </div>
            
                    <div class="col-9">
                      <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                      <p>
                        <u> 15.07.2020</u>
                      </p>
                    </div>
                  </div>
                </a>
            
                <!-- News -->
                <a href="plantilla_noticias_fotos.html" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                        class="img-fluid shadow-1-strong rounded" alt="Palm Springs Road" />
                    </div>
            
                    <div class="col-9">
                      <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                      <p>
                        <u> 15.07.2020</u>
                      </p>
                    </div>
                  </div>
                </a>
            
                <!-- News -->
                <a href="plantilla_noticias_fotos_carrusel.html" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                        class="img-fluid shadow-1-strong rounded" alt="Los Angeles Skyscrapers" />
                    </div>
            
                    <div class="col-9">
                      <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                      <p>
                        <u> 15.07.2020</u>
                      </p>
                    </div>
                  </div>
                </a>
            
                <!-- News -->
                <a href="plantilla_noticias_fotos.html" class="text-dark">
                  <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                        class="img-fluid shadow-1-strong rounded" alt="Skyscrapers" />
                    </div>
            
                    <div class="col-9">
                      <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                      <p>
                        <u> 15.07.2020</u>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <!-- News block -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <!--Insertar aqui seccion de comentarios-->
            
          </div>
        </div>
            <!---FOOOTER-->
    <footer class="bg-light text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"></h5>
            <img src="img/LogoCaosNews.png"  width="90" height="90" class="d-inline-block align-left" alt="">
            <ul class="list-unstyled mb-0">
              
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0"></h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="internacional.html" class="text-dark">Internacional</a>
              </li>
              <li>
                <a href="Economia.html" class="text-dark">Economia</a>
              </li>
              <li>
                <a href="Salud.html" class="text-dark">Salud</a>
              </li>
              <li>
                <a href="Reportaje.html" class="text-dark">Reportaje</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="Politica.html" class="text-dark">Politica</a>
              </li>
              <li>
                <a href="Deportes.html" class="text-dark">Deportes</a>
              </li>
              <li>
                <a href="contacto.html" class="text-dark">Contacto</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0"></h5>
    
            <ul class="list-unstyled">

            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="index.html">Caos News</a>
      </div>
      <!-- Copyright -->
    </footer>

            <!-- SCRIPT BOOTSTRAP -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>


