{% extends 'base1.html' %}
{%load static%}
{% block contenedor %}
      <!--Titulo-->
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CN Reportajes</p>
      <br>
         <!---Noticias-->
<div class="container">
  <!-- Noticia del día -->
  <section class="border-bottom pb-4 mb-5">
    {% for item in noticias %}
    {% if item.Categorias.nombre == 'Reportaje' %}
    {% if item.idNoticia == 20 %}
    <div class="row gx-5">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
          data-mdb-ripple-color="light">
          <img src="{{ item.miniatura.url }}" class="img-fluid" />
          <a href="{%url 'NON' item.idNoticia %}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">REPORTAJE DEL DIA!</span>
        <h4><strong>{{ item.Titulo }}</strong></h4>
        <p class="text-muted"> 
           {% if item.Descripcion|length > 140 %}
          {{ item.Descripcion|slice:":140" }}...
          {% else %}
          {{ item.Descripcion }}
           {% endif %}
          </p>
        <a href="{%url 'NON' item.idNoticia %}" type="button" class="btn btn-primary">Leer Más</a>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </section>
       <!--Section: Contenido-->
       <section>
        <div class="row gx-lg-5">
          {% for item in noticias %}
          {% if item.Categorias.nombre == 'Reportaje' %}
          <div class="col col-md-4 mb-4 mb-lg-0">
            <!-- News block -->
            <div>
              <!-- Featured image -->
              <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                data-mdb-ripple-color="light">
                <img src="{{ item.miniatura.url }}" class="img-fluid" />
                <a href="{%url 'NON' item.idNoticia %}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
    
              <!-- Article data -->
              <div class="row mb-3">
                <div class="col-6">
                  <a href="internacional.html" class="text-dark">
                    <i class="fas fa-plane"></i>
                    {{ item.Categorias.nombre }}
                  </a>
                </div>
    
                <div class="col-6 text-end">
                  <u>{{ item.fecha_publicacion|date:""}}</u>
                </div>
              </div>
    
              <!-- Article title and description -->
              <a href="{%url 'NON' item.idNoticia %}" class="text-dark">
                <h5>{{ item.Titulo }}</h5>
    
                <p class="text-muted">
                  {% if item.Descripcion|length > 140 %}
                    {{ item.Descripcion|slice:":140" }}...
                  {% else %}
                    {{ item.Descripcion }}
                  {% endif %}
                </p>                  
              </a>
    
              <hr />
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </section>
      
      <!--Section: Content-->
{% endblock contenedor %}

{% block pagination %}
  {{ block.super }}
{% endblock %}